In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as px

In [2]:
df = pd.read_csv('students_ai_usage.csv')

In [3]:
df

,age,education_level,study_hours_per_day,uses_ai,ai_tools_used,purpose_of_ai,grades_before_ai,grades_after_ai,daily_screen_time_hours
0,19,college,1.4,No,NaN,NaN,62,62,3
1,15,school,3.9,Yes,Copilot,Research,56,61,2
2,15,school,1.9,Yes,Copilot,Homework,75,88,5
3,15,school,2.8,No,NaN,NaN,55,55,3
4,19,college,2.7,No,NaN,NaN,59,59,3
...,...,...,...,...,...,...,...,...,...
95,14,school,4.4,No,NaN,NaN,70,70,2
96,16,school,2.2,No,NaN,NaN,68,68,6
97,19,college,3.9,Yes,Gemini,Homework,63,74,5
98,14,school,2.6,No,NaN,NaN,60,60,5
99,15,school,4.9,Yes,Gemini,Coding,73,88,2

# Data Cleaning

In [5]:
df.isnull().sum()

age                         0
education_level             0
study_hours_per_day         0
uses_ai                     0
ai_tools_used              60
purpose_of_ai              60
grades_before_ai            0
grades_after_ai             0
daily_screen_time_hours     0
dtype: int64

In [7]:
df.shape

(100, 9)

In [8]:
df.describe()

,age,study_hours_per_day,grades_before_ai,grades_after_ai,daily_screen_time_hours
count,100.000000,100.000000,100.00000,100.000000,100.000000
mean,16.490000,2.987000,64.77000,68.700000,4.340000
std,1.702612,1.145713,6.16909,8.140806,1.793479
min,14.000000,1.000000,55.00000,55.000000,2.000000
25%,15.000000,1.975000,59.00000,61.000000,3.000000
50%,16.000000,2.800000,63.00000,69.000000,4.000000
75%,18.000000,4.025000,70.00000,74.000000,6.000000
max,19.000000,5.000000,75.00000,89.000000,7.000000

In [9]:
df.duplicated().sum()

np.int64(0)

In [11]:
df['age'].mean()

np.float64(16.49)

In [12]:
df['study_hours_per_day'].mean()

np.float64(2.986999999999999)

In [13]:
df.head(2)

,age,education_level,study_hours_per_day,uses_ai,ai_tools_used,purpose_of_ai,grades_before_ai,grades_after_ai,daily_screen_time_hours
0,19,college,1.4,No,NaN,NaN,62,62,3
1,15,school,3.9,Yes,Copilot,Research,56,61,2

# Which age group most use ai

In [ ]:
age_gorup = df.groupby('purpose_of_ai')['age'].mean().reset_index()
age_gorup